* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.5;
}

.banner.night {
    background: #333;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #333;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}

header .logo span {
    color: rgb(0, 110, 255);
}

header ul {
    display: flex;
    gap: 40px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
    transition: 0.5s;
}

.content {
    position: relative;
    max-width: 700px;
    z-index: 10;
}

.content h3 {
    font-size: 2em;
    color: #333;
    font-weight: 200;
    transition: 0.5s;
}

.content h2 {
    font-size: 5.5em;
    color: #333;
    font-weight: 700;
    transition: 0.5s;
}

.content h2 span {
    color: rgb(0, 110, 255)
}

.content p {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    transition: 0.5s;
}

.content button {
    position: relative;
    background: rgb(0, 110, 255);
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.content button.chat {
    background: #fff;
    color: #333;
}

.content button.chat ion-icon {
    position: relative;
    color: rgb(0, 110, 255);
    font-size: 1.1em;
    top: 5px;
}

.sci {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    font-size: 1.75em;
    color: #333;
}

.sci li a:hover {
    color: rgb(0, 94, 255)
}

.dayNight {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}

.banner.night .dayNight {
    background: #444;
    color: #fff
}

.dayNight ion-icon:nth-child(2),
.banner.night .dayNight ion-icon:nth-child(1) {
    display: none;
}

.banner.night .dayNight ion-icon:nth-child(2) {
    display: block;
}

.banner.night header .logo {
    color: #fff
}

.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night .sci li a,
.banner.night header ul li a {
    color: #fff
}

.banner.night .sci li a:hover {
    color: rgb(0, 132, 255)
}

.colors {
    position: absolute;
    right: 0;
    max-width: 800px;
    animation: animateColor 8s ease-in-out infinite;
}

@keyframes animateColor {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }
}

.joel {
    position: absolute;
    right: 100px;
    bottom: 0;
    max-height: 85vh;
    animation: animateJoel 8s ease-in-out infinite;
}

@keyframes animateJoel {
    0%, 100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-50px);
    }
}

/* Adiciona estilo para dispositivos menores (max-width: 600px) */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        /* Centralizar o conteúdo */
        background-color: #3498db;
        /* Fundo azul */
        color: #fff;
        /* Cor do texto branca */
        padding: 15px;
        /* Adiciona algum espaçamento interno ao header */
    }

    ul {
        margin-top: 10px;
    }

    li {
        margin-right: 0;
        /* Remover a margem direita dos itens do menu */
    }

    .logo {
        font-size: 1.2em;
        /* Reduzir o tamanho da fonte do logo */
    }

    button {
        font-size: 0.8em;
        /* Reduzir o tamanho da fonte dos botões */
    }

    .colors {
        display: block;
        margin: 0 auto;
        /* Centralizar a imagem */
        width: 500px;
    }

    .joel,
    .sci {
        display: none;
        /* Remover a foto e os ícones de mídia social em dispositivos móveis */
    }

    .dayNight {
        top: auto;
        bottom: 20px;
        font-size: 1.2em;
        /* Reduzir o tamanho da fonte dos ícones de day/night */
    }
}